body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 65%;
    max-width: 800px;
    height: 65%;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

.logo-section {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
                url('/assets/img/Login-BG.png') no-repeat center center;
    background-size: cover; 
    color: white; 
    text-align: center; 
}

.logo-section img {
    width: 150px; 
    /* margin-bottom: 20px;  */
}

.logo-section h1 {
    font-size: 21px; 
    margin: 0; 
}

.logo-section .gray-text {
    color: #ccc; 
}

.logo-section p {
    font-size: 8px; /* Sets the font size for the subtitle */
    margin-top: 0; 
    color: #ff6600; 
}

.logo-section img {
    width: 150px;
}

.login-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #f4f4f4;
    padding: 20px;
    position: relative; 
}

.login-header {
    text-align: center;
    position: absolute; 
    top: 20px; 
    width: 100%; 
    max-width: 400px;
}

.login-header h1 {
    font-size: 32px;
    color: #ff6600;
    padding-top: 20px;
    margin: 0; 

}

.gray-text {
    color: #666; 
}

.login-header p {
    font-weight: bold;
    font-size: 12px;
    color: #666;
    margin: 0; 

}

.login-box {
    width: 60%; 
    max-width: 400px; 
    height: 250px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: auto; 
    margin-bottom: auto;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.input-group .icon {
    font-size: 18px;
    margin-right: 10px;
    color: #666;
}

.input-group input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
}

button {
    width: auto; 
    min-width: 100px; 
    padding: 10px 20px; 
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #e65c00;
}