html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;

}

#content-container {
    flex: 1;
}

.main-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
}

.chart-container {
    width: 1000px;
    margin: 0 auto; 
}

.chart-container h2 {
    font-family: Arial, sans-serif;
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

.chart-box {
    width: 100%; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 500px;
}

.summary-reports {
    width: 1000px; 
    margin: 20px auto 0; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.summary-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;

    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.summary-item span:last-child {
    font-weight: normal;
    color: #555;
}